<p id="notice"><%= notice %></p>

<h1>Listing Account Movements for investor </h1><% @investor.full_name %> 

<% if !@investor.account_movements.empty? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Value date</th>
        <th>Movement date</th>
        <th>Value</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @account_movements.each do |account_movement| %>
        <tr>
          <td><%= account_movement.investor.full_name %></td>
          <td><%= account_movement.value_date %></td>
          <td><%= account_movement.movement_date %></td>
          <td><%= account_movement.value %></td>
          <td><%= link_to 'Show', [@investor, account_movement] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
A Conta do investidor <% investor.full_name %> não tem movimentos
<% end %>
<br>

<%= link_to 'New Account movement', new_investor_account_movement_path(@investor) %>
