<%= render "shared/navbar" %>
<div>
<p id="notice"><%= notice %></p>
<h1 class="titulo">Extrato de Movimentos - Conta Corrente</h1>
<p></p>
  <strong class="titulo_campo">Investor:</strong>
  <%=  @account_movements.any? ? @account_movements[0].investor.full_name : ''%>
<p></p>
<table class="table_standard">
  <thead>
    <tr>
      <th>Data de Movimento</th></th>
      <th>Data Valor</th>
      <th>Descrição</th>
      <th>Tipo de Movimento</th>
      <th>Debito</th>
      <th>Credito</th>
      <th>Detalhe</th>
    </tr>
  </thead>

  <tbody>
    <% saldo = 0 %>
    <% @account_movements.each do |account_movement| %>
      <tr>
        <td><%= account_movement.movement_date %></td>
        <td><%= account_movement.value_date %></td>
        <td><%= account_movement.description %></td>
        <td><%= account_movement.movement_type %></td>
        <td><%= account_movement.value<0?number_to_currency(-account_movement.value, :unit => "€"):''%></td>
        <td><%= account_movement.value>0?number_to_currency(account_movement.value, :unit => "€"):''%></td>
        <td><%= link_to 'Consultar', [@investor, account_movement] %></td>
        <% saldo = saldo + account_movement.value %>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <br>
  <tr>
    <td class="titulo_campo"><strong>Saldo: </strong></td>
    <td class="titulo_campo"><strong><%= number_to_currency(saldo, :unit => "€") %></strong></td>
  </tr>
  
</table>
<br>
</div>
