<%= render "shared/navbar" %>
<h1 class="titulo"> Novo Movimento na Conta de Investidor </h1>
<br>
<h3>Investidor: <%= @investor.full_name %></h3>

<div class="form_standard">
<%= form_for([@investor,@account_movement]) do |f| %>
  <% if @account_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_movement.errors.count, "error") %> prohibited this account_movement from being saved:</h2>

      <ul>
      <% @account_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.hidden_field :investor_id %>
  </div>
  <table class="form_table_standard">
  <div class="field">
    <tr><td><%= f.label :value_date %></td>
    <td><%= f.date_select :value_date %></td>
    </tr>
  </div>
  <div class="field">
    <tr><td><%= f.label :movement_date%></td>
    <td><%= f.date_select :movement_date%></td></tr>
  </div>
  <div class="field">
    <tr><td><%= f.label :value %></td>
    <td><%= f.text_field :value  %></td></tr>
  </div>
  <div class="field">
    <tr><td><%= f.label :description %></td>
    <td><%= f.text_field :description  %></td></tr>
  </div>
    <div class="field">
    <tr><td><%= f.label :movement_type %></td>
    <td><%= f.select(:movement_type, AccountMovement.movement_types.keys.map {|movement_type| [movement_type.titleize,movement_type]} ) %></td></tr>
  </div>
  </table>
  <div class="actions">
    <%= f.submit "Registar" %>
  </div>
<% end %>
</div>
<%= link_to 'Voltar', account_movements_path %>

