<h1> Novo Movimento em Conta</h1>

<%= form_for(@account_movement) do |f| %>
  <% if @account_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_movement.errors.count, "error") %> prohibited this account_movement from being saved:</h2>

      <ul>
      <% @account_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Nome
  <%= @investor.full_name %>
  <p></p>
  <div class="field">
    <%= f.label :value_date %><br>
    <%= f.date_select :value_date %>
  </div>
  <div class="field">
    <%= f.label :movement_date %><br>
    <%= f.date_select :movement_date %>
  </div>
  <div class="field">
    <%= f.label "Valor" %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.hidden_field :investor_id %>
  </div>
  <div class="actions">
    <%= f.submit "Registar"%>
  </div>
<% end %>
