<p id="notice"><%= notice %></p>

<p>
  <strong>Investor:</strong>
  <%= @account_movement.investor.full_name %>
</p>

<p>
  <strong>Value date:</strong>
  <%= @account_movement.value_date %>
</p>

<p>
  <strong>Movement date:</strong>
  <%= @account_movement.movement_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @account_movement.value %>
</p>

<%= link_to 'Back', account_movements_path %>
