<%= form_for(@entrepreneur) do |f| %>
  <% if @entrepreneur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrepreneur.errors.count, "error") %> prohibited this entrepreneur from being saved:</h2>

      <ul>
      <% @entrepreneur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_area :full_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_area :zip_code %>
  </div>
  <div class="field">
    <%= f.label :town %><br>
    <%= f.text_area :town %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_area :country %>
  </div>
  <div class="field">
    <%= f.label :fiscal_number %><br>
    <%= f.text_area :fiscal_number %>
  </div>
  <div class="field">
    <%= f.label :IBAN %><br>
    <%= f.text_area :IBAN %>
  </div>
  <div class="field">
    <%= f.label :legal_nature %><br>
    <%= f.text_area :legal_nature %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_area :phone_number %>
  </div>
  <div class="field">
    <%= f.label :person_in_charge %><br>
    <%= f.text_area :person_in_charge %>
  </div>
  <div class="field">
    <%= f.label :main_activity %><br>
    <%= f.text_area :main_activity %>
  </div>  
  <div class="field">
    <%= f.label :capital %><br>
    <%= f.text_area :capital %>
  </div>  
    <div class="field">
    <%= f.label :start_year %><br>
    <%= f.text_area :start_year %>
  </div>
  <div class="field">
    <%= f.label :other_debt %><br>
    <%= f.text_area :other_debt %>
  </div>
    <div class="field">
    <%= f.label :other_costs %><br>
    <%= f.text_area :other_costs %>
  </div>
  <div class="field">
    <%= f.label :credit_delay %><br>
    <%= f.check_box :credit_delay %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  
  <div class="actions">
    <%= f.submit "Registar Empreendedor"%>
  </div>
  
<% end %>
