<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @entrepreneur.full_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entrepreneur.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @entrepreneur.zip_code %>
</p>

<p>
  <strong>Town:</strong>
  <%= @entrepreneur.town %>
</p>

<p>
  <strong>Country:</strong>
  <%= @entrepreneur.country %>
</p>

<p>
  <strong>Fiscal number:</strong>
  <%= @entrepreneur.fiscal_number %>
</p>
<br>
<br>

<%= button_to 'Criar Projecto', new_entrepreneur_project_path(@entrepreneur), method: :get %>

<br>
<br>
<%= link_to 'Edit', edit_entrepreneur_path(@entrepreneur) %> |
<%= link_to 'Back', entrepreneurs_path %> |
<%= link_to 'Sign_out', destroy_user_session_path %></p>
