<%= render "shared/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class="titulo">Consulta Projecto</h1>
<table class="view_table_standard">
<tr>
  <td><strong>Descrição:</strong></td>
  <td><%= @project.description %></td>
</tr>
<tr>
<td><strong>Valor:</strong></td>
<td><%= @project.value %></td>
</tr>
<tr>
  <td><strong>Data Inicio:</strong></td>
  <td><%= @project.start_date %></td>
</tr>
<tr>
  <td><strong>Duração:</strong></td>
  <td><%= @project.duration %></td>
</tr>
<tr>
  <td><strong>Entrepreneur:</strong></td>
  <td><%= @project.entrepreneur.full_name %></td>
</tr>
<tr>
  <td><strong>Status:</strong></td>
  <td><%= @project.status %></td>
</tr>
<tr>
  <td><strong>Prestação:</strong></td>
  <td><%= '%.2f' % @project.installment %></td>
</tr>
</table>
<table  class="table_standard">
  <thead>
    <tr>
      <th>Reference date</th>
      <th>Value</th>
      <th>Interest</th>
      <th>Capital</th>
      <th>Status</th>
      <th>Process number</th>
    </tr>
  </thead>

  <tbody>
    <% @project.installments.each do |installment| %>
      <tr>
        <td><%= installment.reference_date %></td>
        <td><%= '%.2f' % installment.value %></td>
        <td><%= '%.2f' % installment.interest %></td>
        <td><%= '%.2f' % installment.capital %></td>
        <td><%= installment.status %></td>
        <td><%= installment.process_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Voltar', projects_path %>
