<h1>Investimento Selecionado</h1>

<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :investor_id %><br>
    <%= f.number_field :investor_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%=  f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.check_box :confirmed %>
  </div>
  <div class="field">
    <%= f.label :confirmation_date %><br>
    <%= f.date_select :confirmation_date %>
  </div>
  <div class="actions">
    <%= f.submit "Registar"%>
  </div>
<% end %>


<%= link_to 'Back', deals_path %>
