<h1>Investimento Selecionado</h1>

<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>
      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <strong>Investidor:</strong>
    <%= @deal.investor.full_name %>
  <br>
    <strong>Projecto:</strong>
    <%=  @deal.project.description %>
  <br>
  <br><br>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <br>
    <%= f.hidden_field :investor_id %>
    <%=  f.hidden_field :project_id %>
  <div class="actions">
    <%= f.submit "Registar"%>
  </div>
<% end %>


<%= link_to 'Back', deals_path %>
