<p id="notice"><%= notice %></p>
Interesse Registado
<p>
  <strong>Investidor:</strong>
  <%= @deal.investor.full_name %>
</p>

<p>
  <strong>Projecto:</strong>
  <%= @deal.project.description %>
</p><p>
  <strong>Valor</strong>
  <%= @deal.value %>
</p>
<p>
  <strong>Confirmado:</strong>
  <%= @deal.confirmed %>
</p>

<p>
  <strong>Data de Confirmação:</strong>
  <%= @deal.confirmation_date %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= number_to_currency(@deal.investor.saldo, :unit => "€")  %>
</p>

<%= link_to 'Principal', investor_main_path(@deal.investor) %> |
