<%= render "shared/navbar" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), id: "email-form", "name" => "email-form" , "data-name" => "Email Form"  ) do |f| %>
<div class="w-row login_row">
  <div class="w-col w-col-2 login_col_1">
  </div>
  <div class="w-col w-col-8 login_col_2">
  </div>
  <div class="w-col w-col-2">
  </div>
</div>
  <div class="w-section">
    <div class="w-container login_container">
      <div class="w-row login_columns">
        <div class="w-col w-col-3">
        </div>
          <div class="w-col w-col-6">
            <div class="login_div">
              <div class="w-form">
                <div class="field">
                  <%= f.label :email, for: "email", class: "login_email_text"  %><br />
                  <%= f.email_field :email, autofocus: true,  id: "email", type: "text", placeholder: "email", class: "w-input login_email"  %>
                </div>
                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", id: "password", type: "password", placeholder: "Enter your password", required: "required", class: "w-input login_email" %>
                </div>
                <div class="actions">
                  <%= f.submit "Entrar", "data-wait" => "Please wait...", class: "w-button login_button" %>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-3">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  <div class="w-section">
    <div><br><br> &nbsp; &nbsp; &nbsp;Esqueceu-se da password?
    </div>
  </div>
<% end %>

