<%= render "shared/navbar" %>
<h1 class="titulo">Gestão de Investimentos</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Investidor:</strong> <%= @investor.full_name %>
</p>

<table class="table_investor">
  <tr>
    <th>Valor Investido </th>
    <td><%= number_to_currency(@investor.investido, :unit => "€") %></td>
  </tr>
  <tr>
    <th>Saldo Conta</th>
    <td><%= number_to_currency(@investor.saldo, :unit => "€") %></td>
  </tr>
  <tr>
    <th>Juro Recebido</th>
    <td><%= number_to_currency(@investor.juro_recebido, :unit => "€") %></td>
  </tr>
  <tr>
    <th>Total Recebido</th>
    <td><%= number_to_currency(@investor.recebido, :unit => "€") %></td>
  </tr>
</table>
<br>
<h2>Portfolio</h2>
<h3>Actual</h3>
<table class="table_standard">
  <thead>
    <tr>
      <th>Projecto</th>
      <th>Total Actual</th>
      <th>Total Investido</th>
      <th>Juros Totais</th>
    </tr>
  </thead>
  <% @deals_open.each do |deals_open| %>
    <tr>
      <td><%= deals_open.project.description %></td>
      <td><%= deals_open.value - deals_open.paid_capital %></td>
      <td><%= deals_open.value %></td>
      <td><%= deals_open.paid_interest %></td>
    </tr>
  <% end %>
</table>
<h3>Selecionados</h3>
<table class="table_standard">
  <thead>
    <tr>
      <th>Projecto</th>
      <th>Total Pretendido</th>
    </tr>
  </thead>
  <% @deals_pending.each do |deals_pending| %>
    <tr>
      <td><%= deals_pending.project.description %></td>
      <td><%= number_to_currency(deals_pending.value, :unit => "€")%></td>
    </tr>
  <% end %>
</table>
<br>
<br>

<h3><%= link_to 'Conta Corrente', account_movements_list_investor_path(@investor) %> |
<%= link_to 'Investir', index_investor_path(@investor) %></h3>
