<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @investor.full_name %>
</p>

<p>
  <strong>Morada:</strong>
  <%= @investor.address %>
</p>

<p>
  <strong>Codigo Postal:</strong>
  <%= @investor.zip_code %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @investor.town %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @investor.country %>
</p>

<p>
  <strong>NIF:</strong>
  <%= @investor.NIF %>
</p>

<%= link_to 'Conta Corrente', account_movements_list_investor_path(@investor) %> |
<%= link_to 'Editar', edit_investor_path(@investor) %> |
<%= link_to 'Voltar', investors_path %>
