<h1>Application#MainAdmin</h1>

<h2>Projectos</h2>
<p><%= link_to 'Projectos', projects_path %></p>
<h2>Utilizadores</h2>
<p><%= link_to 'Utilizadores', users_path %></p>
<h2>Investidores</h2>
<p><%= link_to 'Investidores', investors_path %></p>
<h2>Empreendedores</h2>
<p><%= link_to 'Empreendedores', entrepreneurs_path %></p>

<p><%= link_to 'Sign_in', user_session_path %></p>
<p><%= link_to 'Sign_out', destroy_user_session_path %></p>
