<%= render "shared/navbar" %>
<body>
<h1 class="titulo">Agente</h1>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert-info" %>
<% end %>
<h2>Convites</h2>
<h4>Convites a enviar</h4>
<table  class="table_standard">
  <thead>
    <tr>
      <th>email</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @invitations_unsend.each do |invitation| %>
        <%= form_for(invitation , :url => {:controller =>"invitations",:action => "send_mail", :method => "post"}   ) do |f| %>
          <tr>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :inv_key %>
            <td> <%= f.text_field :email, :class => "convite_mail" %></td>
            <td><%= f.submit 'Convidar', :class => 'button-xs' %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<br>
<br>
<h4>Convites enviados</h4> 
<br>
<table class="table_standard">
  <thead>
    <tr>
      <th>email</th>
      <th>chave</th>
    </tr>
  </thead>
  <tbody>
    <% @invitations_send.each do |invitation| %>
        <tr>
          <td> <%= invitation.email %></td>
          <td><%= invitation.inv_key %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<h4>Convites respondidos</h4>
<br>
<table class="table_standard">
  <thead>
    <tr>
      <th>email</th>
      <th>chave</th>
    </tr>
  </thead>
  <tbody>
    <% @invitations_answered.each do |invitation| %>
        <tr>
          <td> <%= invitation.email %></td>
          <td><%= invitation.inv_key %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>Investidor</h2>
<%= link_to 'Página Principal de Investidor', investor_main_path(Investor.find_by_user_id(current_user)) %> </p>
<br>
</body>



